@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


body {
  font:normal 75% Arial, Helvetica, sans-serif;
  margin: 0;
  background:#141414;
  overflow: hidden;
}
::-webkit-scrollbar-thumb {
  background: #3F85FF !important;
}
::-webkit-scrollbar {
  width: 3px;
}

.topbar {
  height: 45px;
  width: 100%;
  position: fixed;
  display: inline-flex;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow: hidden;
  padding-top: 16px;
}

.BDD-topbar-links a {
  margin: 6px 12px 6px 12px;
  padding-bottom: 12px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: inline-block;
}
.BDD-topbar-links a:hover {
  color: #FFF;
}
.BDD-topbar-links a[aria-selected="true"] {
  border-bottom: 2px solid #FFF;
  color: #FFF;
}
.main {
  display: block;
  position: relative;
  top: 30px;
  height: 100%;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
}

/* title description and button START */
.title {
  color: #fff;
  font-size: 50px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  margin-top: 40px;
}
.description {
  color: #fff;
  font-size: 18px;
  text-align: center;
  max-width: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
#center {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  height: fit-content;
}
.primary-button {
  background-color: #3F85FF;
  border:none !important;
  margin-top: 10px !important;
  margin: auto;
  color: #fff;
  text-transform: uppercase;
  font-family: Roboto,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .725rem;
  font-weight: 600;
  letter-spacing: .0892857143em;
  min-width: 64px;
  height: 34px;
  padding: 0 16px 0 16px;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 0 10px #1973d3;
  transition: 250ms ease all;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
a {
  text-decoration:none !important;
}
.primary-button:hover {
  box-shadow: 0 0 20px #135193;
  background: #135193;
}
.material-icons {
  font-size: 20px;
  margin-right: 4px;
}
body #center.preview-container {
  margin-top: 50px;
  height: 150px;
  position: relative;
  z-index: 1;
}
/* title description and button END */

/* image slides START*/
.mySlides {
  display: none
}
img {
  vertical-align: middle;
  margin-top: 20px;
  box-shadow: 0 0 50px #ffffff2b, inset 0 0 0 100vmax rgba(255, 255, 255, 0.1);
}
/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 100ms;
  animation-name: fade;
  animation-duration: 100ms;
}
@-webkit-keyframes fade {
  from {
    opacity: .4
  } 
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  } 
  to {
    opacity: 1
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px;}
  img {width: 30%;}
}
/* image slides END */