@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


body {
  font:normal 75% Arial, Helvetica, sans-serif;
  margin: 0;
  background:#141414;
  overflow: hidden;
}
::-webkit-scrollbar-thumb {
  background: #3F85FF !important;
}
::-webkit-scrollbar {
  width: 3px;
}
.topbar {
  height: 45px;
  width: 100%;
  position: fixed;
  display: inline-flex;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow: hidden;
  padding-top: 16px;
}
.topbar-links a {
  margin: 6px 12px 6px 12px;
  padding-bottom: 12px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: inline-block;
}
.topbar-links a:hover {
  color: #FFF;
}
.topbar-links a[aria-selected="true"] {
  border-bottom: 2px solid #FFF;
  color: #FFF;
}